
/* button1 end */



.btn-34,
.btn-34 *,
.btn-34 :after,
.btn-34 :before,
.btn-34:after,
.btn-34:before {
  border: 1 solid;
  box-sizing: border-box;
}
.btn-34 {
  -webkit-tap-highlight-color: transparent;
  
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  width: 500px;
  padding: 0;
  text-transform: uppercase;
  overflow: hidden;
  transition: all 0.7s;
}
.btn-34:disabled {
  cursor: default;
}
.btn-34:-moz-focusring {
  outline: auto;
}
.btn-34 svg {
  display: block;
  
}
.btn-34 [hidden] {
  display: none;
}
.btn-34 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-34:hover {
  transform: scale(1.1);
}
.btn-34 span {
  font-weight: 900;
  mix-blend-mode: difference;
}
.btn-34:before {
  aspect-ratio: 1;
  background: #fff;
  border-radius: 50%;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: width 1.3s;
  width: 0;
}
.btn-34:hover:before {
  width: 100%;
}
/* button1 end */


/* button 2 */
.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  
}
.btn:hover {
  text-decoration: none;
}


/*btn_background*/
.effect01 {
  color: #FFF;
  border: 1px solid #000;
  box-shadow:0px 0px 0px 1px #000 inset;
  background-color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.effect01:hover {
  border: 4px solid #666;
  background-color: #FFF;
  box-shadow:0px 0px 0px 4px #EEE inset;
}

/*btn_text*/
.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect01:hover span{
  letter-spacing: 0.13em;
  color: #333;
}

/*highlight*/
.effect01:after {
  background: #FFF;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}
.effect01:hover:after {
  background: #FFF;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
/* end 2*/

/* button 3 */

.button3 {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 32px;
  width: 180px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  padding: 1px 1px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.button3{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button3:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.button3:hover{
  padding-right: 24px;
  padding-left:8px;
}

.button3:hover:after {
  opacity: 1;
  right: 10px;
}
/* end btn3 */

/* btn 4 */
.w2{
  display: block;
  width: 600px;
  height: 64px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  font-size: 35px;
  position: relative;
  transition: all .35s;
  background-color: #00308F;;
}

.w2 span{
  position: relative;
  z-index: 2;
}

.w2:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all .35s;
}

.w2:hover{
  color: #fff;
}

.w2:hover:after{
  width: 100%;
}
.transparent-button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  width: 600px;
  height: 61px;
  color: rgb(255, 255, 255);


}
/* end */


/* button */

.w3{
  display: block;
  width: 110px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  background-color: #00308F;
}

.w3 span{
  position: relative;
  z-index: 2;
}

.w3:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background:#ff003b;
  transition: all .35s;
}

.w3:hover{
  color: #fff;
}

.w3:hover:after{
  width: 100%;
}
.transparent-button2 {
  background-color: transparent;
  border: none;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  width: 110px;
  height: 40px;
  color: rgb(255, 255, 255);

}
/* btn end */

/* new btn */

.w4{
  display: block;
  width: 700px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  background-color: #00308F;
}

.w4 span{
  position: relative;
  z-index: 2;
}

.w4:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all .35s;
}

.w4:hover{
  color: #fff;
}

.w4:hover:after{
  width: 100%;
}
.transparent-button3 {
  background-color: transparent;
  border: none;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  width: 700px;
  height: 40px;
  color: rgb(255, 255, 255);

}


.buttonnavbar {
  background-color: transparent;
  border: none;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  color: rgb(255, 255, 255);

}
/*  */


/* buttom z start */
.buttonz {
  font-size: 1.1em;
  background: #ffffff00;
  color: #ffffff;
  border: 0.1rem solid #ffffffaf;
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 0.5rem;
  width: 120px;
  height: 40px;
}

.buttonz:hover {
  color: #00000065;
}

.buttonz::after {
  content: "";
  background: #ffffff8b;
  position: absolute;
  z-index: -1;
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
  display: block;
  border-radius: 0.5rem;
  width: 120px;
  height: 40px;
}

.buttonz[class^="slide"]::after {
  transition: all 0.35s;
}

.buttonz[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}

.buttonz[class^="grow"]::after {
  transition: all 0.3s ease;
}

.buttonz[class^="grow"]:hover::after {
  transition: all 0.3s ease-out;
}

.buttonz.grow_box::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
  border-radius: 0.5rem;
  width: 120px;
  height: 40px;
}

.buttonz.grow_box:hover::after {
  transform: scale(1, 1);
}

